<div class="top">
<h1 class="top_heading"><strong>Bookers</strong></h1>
<p class="top_desc"><strong>Bookers</strong>であなたの読書の感想をみんなと共有しよう！</p>
<div class="top_bottom"><%= link_to "START", books_path, class: "top_start" %></div>
</div>