/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.top_heading {
  width: 100%;
  margin:200px auto;
  font-size: 5vw ;
  font-family: 'Diplomata SC', cursive , sans-serif;
  
}

.top_heading, .top_desc, .top_bottom {
  text-align: center;
}

.top_desc {
  font-size: 2vw ;
  margin-bottom: 50px;
}

.top_start {
  font-size: 1vw;
  padding:7px 10px;
  border-radius: 5px;
  background-color: #C0C0C0;
  text-decoration: none;
  color: #333;
  transition: background-color .5s;
}

.top_start:hover {
  background-color: #000;
  color:#fff ;
}

.index, .show, .edit {
  width: 80%;
  margin: 20px auto;
  padding:20px;
  border:double 5px #333;
}

.index_heading, .show_heading, .edit_heading {
  font-family: 'Oswald', sans-serif;
}

.index_errors, .edit_errors {
  border:dashed 2px #333;
  padding-left: 20px;
  color: red;
}

.index_submit {
  margin-top: 5px;
  margin-bottom: 10px;
}

.show > p {
  margin: 5px 0;
}

table th, td{
  padding:5px;
}
